@import 'variables';

.Featured {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;

    hr {
        border: .5px solid $Char;
        margin-bottom: .15rem;
    }
    h3 {
        color: $Black;
        padding: 0 0 .5rem 0;
    }
    .product-container {
        // width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .product {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: .25rem;
            background-image: linear-gradient(to bottom left, rgb(12, 12, 12), $Char);

            @media(min-width: 650px) {
                margin-right: 2rem;
            }
            .button-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 5rem;

                .add-design-btn {
                    background-color: $Char;
                    border: 1px solid rgba(255, 255, 255, 0.507);
                    color: $DimWhite;
                }
            }

            .product-details-container {
                // border: 1px solid red;
                margin: .25rem;
                width: 90%;
                padding: .25rem 0 .25rem 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .rating-container {
                    margin-top: .25rem;
                }
                .star-icon {
                    width: 1rem;
                    margin-right: .25rem;
                }

                h4 {
                    color: $DimWhite;
                    font-size: 1.5rem;
                }
                h5 {
                    margin-top: .25rem;
                    color: $DimWhite;
                    font-weight: lighter;
                }
                span, p {
                    font-size: .95rem;
                    color: $DimWhite;
                    opacity: .9;
                }
                .price-container {
                    height: 3.75rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .price {
                    color: $DimWhite;
                    font-weight: bold;
                    font-size: 2rem;
                }
                button {
                    height: 2rem;
                    font-size: .9rem;
                    font-weight: bold;
                    border: 0;
                    outline: none;
                    background-color: $Blue;
                    color: $Char;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .img-container {
                // background-color: rgb(19, 19, 19);
                height: 25rem;
                width: 100%;
                overflow: hidden;
                display: flex;
                padding: 1rem 0 2rem 0;
            }
            .product-img {
                height: 100%;
                transform: rotate(-10deg);
                // margin: 0 0 0 .75rem;
                margin: 0 auto;
                padding: 1rem;
            }
            .second-img {
                margin: 0;
                transform: rotate(0);
            }
        }

        @media(min-width: 800px) {
            flex-direction: row;
        }
    }

    @media(min-width: 600px) {
        max-width: 60rem;
    }
}