// COLORS
$Black: rgb(12, 12, 12);
$Char: rgb(37, 35, 35);
$LoadingGrey: rgba(128, 128, 128, 0.253);
$LightChar: rgb(78, 78, 78);
$White: #fff;
$OffWhite: rgb(236, 236, 236);
$DimWhite: rgb(212, 207, 207);
$Vanila: rgb(221, 216, 216);
$Blue: rgb(67, 186, 255);
$Amazon: #f08804;
$Yellow: rgb(241, 226, 3);

// FONTS
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
$Bungee: 'Bungee', serif;
$FugazOne: 'Fugaz One', serif;